html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

div {
  width: 250px;
  font-size: 15px;
  height: 95%;
  position: fixed;
  color: white;
  background-color: rgba(9, 160, 197, 0.842)
}

.right_align {
  top: 15px;
  left: 15px;
}

.left_align {
  top: 15px;
  right: 15px;
}